@model IEnumerable<AllBookViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>@await Component.InvokeAsync("BestBooksAuthor")</h1>


<div class="container-fluid ">
    <div class="row ">
        
        <div class="col-md-4">
            <div class="row">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="~/images/@item.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.BookName</h5>
                    <p class="card-text">@item.BookTitle</p>
                    <p class="card-text">@item.ViewedCount</p>
                    <p class="card-text">@item.AuthorName</p>
                    <a asp-action="Detail" asp-controller="Book" asp-route-id="@item.BookId" class="btn btn-primary">All Information for this book</a>
                </div>
            </div>
        }

            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">
                @await Component.InvokeAsync("BestSeller")
            </div>
        </div>
    </div>
</div>




